@font-face{
    font-family: "san-fransico-light";
    src: url('./fonts/SFProText-Light.ttf');
}
@font-face{
    font-family: "san-fransico-reg";
    src: url('./fonts/SFProText-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-size: 17px;
    font-family: "san-fransico-reg";
    line-height: 25px;
    letter-spacing: -0.374px;
    background-color: #FBFBFD;
    color: #1d1d1f;
    font-style: normal;
    width:100%;
}
header{
    font-size: 14px;
    background-color: rgba(0,0,0,0.8);
    height: 44px;
    position: sticky;
    backdrop-filter: blur(2rem);
    top:0px;
    display:block;
    z-index: 999;
    scroll-margin-top: 5rem; /* whatever is a nice number that gets you past the header */
}
.list-item a{
    font-weight: 5px;
    display: inline-block;
}
.nav{
    display:flex;
    align-items: center;
    height: 44px;
    justify-content: space-between;
    width:980px;
    margin: auto ;
}
.nav-item i{
    font-size: 17px;
}

.nav-logo i{
    font-size:20px;
}
.nav-mobile{
    display:none;
}
.nav-link{
    color:#D6D6D6;
    cursor:pointer;
    padding: 0 10px;
    transition: color 0.5s ease-in;
    font-family: "san-fransico-light";
}
.nav-link:hover{
    color:#F5F5F7;
}
.message{    
    font-size: 14px;
    text-align: center;
    background-color:#F5F5F7;
    color: #1d1d1f;
    width:100%;
} 
.message span{
    width: 922.125px;
    text-align: center;
    display: inline-block;
    padding: 12px 0;
    line-height: 1.3rem;
}
.message span >a{
    color:#06c;
}
@media (max-width:1068px)
{
    .message span{
       max-width:495px;
    }
}
.iphone-12,.iphone-12-pro{
    background-image: url("./images/heroes/iphone-12/iphone_12_updated__jepm2xpxncuy_large.jpg");
    background-position:center;
    background-repeat: no-repeat;
    height: 569px;
    text-align: center;
}
.iphone-12 .info,.iphone-12-pro .info,.fitness .info{
    padding:1rem 0;
}
.main h1{
    font-size: 56px;
    letter-spacing: -.005em ;
    line-height: 1.07143 ;
    font-weight: 600;
    color: #1d1d1f;
    margin-top: 20px;
}
.main h3{
    font-size:28px;
    margin-top:0.8rem;
    font-family: "san-fransico-light";
}
.iphone-12 .pricing,.iphone-12-pro .pricing,.fitness .pricing{
    font-size:17px;
    margin-top: 0.8em;
    color: #86868b;
}
.iphone-12 .links>a,.iphone-12-pro .title>a,.fitness .title>a{
    font-size:19px;
    margin-top: 0.74rem;
}
.fitness .title>a{
    font-size:19px;
    margin-top: 0px;
}
.iphone-12-pro{
    background-image: url("./images/heroes/iphone-12-pro/iphone_12_pro_us__e5oyysg4k0ya_large.jpg");
    height: 617px;
    margin-top: 0.7rem;

}
.fitness .info{
    padding-bottom: 0px;
}
.main-darker{
    height: 580px;
}
.main-darker h1,.main-darker h3{
    color:#f5f5f7;
}
.cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 13.65px;
}
.cta>.cta-link:last-child{
    margin-left: 32px;
}
.cta-link > a{
    color:#06c;
    font-size: 21px;
    font-weight: 400;
    transition: all 0.5s ease;
}
.cta-link i{
    font-size: 14px;
}
.cta-link > a:first-child:hover{
    text-decoration: underline;
}
.fitness-headings{
    margin:14px 10%;
    text-align: center;
}
.fitness-headings >h2{
    font-weight: 400;
}
.fitness-headings >h2:first-child{
    margin-bottom: 0.4rem;
}
.fitness-image{
    background-image: url('./images/heroes/apple-fitness/hero__dvsxv8smkkgi_large.jpg');
    height:340px;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 2rem;
}
.fitness-logo{
    background-image: url('./images/logos/apple-fitness-plus/logo_hero__trsrpeu6koqy_large.png');
    height:50px;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 2rem;
}
.promos{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0.8rem;
    grid-row-gap:0.8rem ;
    grid-column-gap: 0.8rem;
    text-align: center;
}
.promo-card .title{
    padding-top:2.5rem;
}
.darker{
    color:#f5f5f7;
}
.cta-link-white >a{
    color: #f5f5f7;
}
.promo-card{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0 20%;
}
.promo-card .title > h3{
    font-size: 21px;
    margin-top:11px;
    font-weight: 400;
}
.mac-promo >.promo-cta >.promo-cta-link{
    margin:0;
}
.promo-card .title > h1{
    font-size: 40px;
    margin-top:11px;
    line-height: 48px;
}
.promo-cta-link >a{
    font-size: 17px;
}
.promo-cta-link a >i{
    font-size: 13px;
}
.cta-link-white > a:first-child:hover{
    text-decoration: underline;
}
.watch-series-promo{
    background-image: url('./images/promos/watch-series-6/promo_watch_series_6_lte__f8lrasjnry2y_large.jpg');
}
.ipad-pro-promo{
    background-image: url('./images/promos/ipad-pro/promo_ipad_pro_non_avail__c6f02v7gnwgi_large.jpg');
}
.mac-promo{
    background-image: url('./images/promos/back-to-school-2021/promo_bts__bg3cb4kaoqoi_large.jpg');
}
.arcade-promo
{
    background-image: url('./images/promos/imac/promo_arcade__e7ps46tldi62_large_2x.jpg');
}
.card-promo
{
    background-image: url('./images/promos/apple-card/tile__cauwwcyyn9hy_large.jpg');
}
.card-promo >.title{
    padding-right:13%;
    padding-left: 13%;
}
.season-promo{
    background-image: url('./images/promos/tv-plus-truth-be-told/promo_truth_be_told_s2__msmri3atvfee_large.jpg');
}
.watch-series-logo{
    background-image: url('./images/logos/watch-series-6/promo_logo_watch_series_6_lte__el1kwqt2v52e_large.png');
}
.arcade-logo{
    background-image: url('./images/logos/arcade/logo__dcojfwkzna2q_large.png');
}
.card-logo{
    background-image: url('./images/logos/apple-card/logo__dcojfwkzna2q_large.png');
}
.tv-logo{
    background-image: url('./images/logos/tv-plus/logo_light__cfvl40z2nzau_large.png');
}
.truth-logo{
    background-image: url('./images/logos/tv-plus-truth-be-told/logo_truth_be_told_s2__cp4byr0onk2u_large.png');
    width:100%;
}
.promo-logo{
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.season-promo{
    position: relative;
}
.season-promo>.title{
    position: absolute;
    bottom: 2rem;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    
}
footer{
    letter-spacing: -0.12px;
    line-height: 16.0004px;
    background-color: #F5F5F7;
    font-size: 12px;
    color:rgba(29, 29, 31,0.8);
}
.footer-col i
{
    display: none;
}
.container{
    padding:0 1.3rem;
}
.terms-conditions,.footer-nav,.footer-bottom{
    max-width: 980px;
    margin: 0 170px;
    padding: 17px 0px 17px 0px;
    text-align: left;
    border-bottom: 1px solid rgba(29, 29, 31,0.2); 
    color:rgba(29, 29, 31,0.8);
}
.terms-conditions > p > i{
    color: rgba(29, 29, 31,0.6);
    font-size: 10px;
}
.footer-nav{
    padding-bottom:8px;
}
.footer-bottom{
    border: 0;
    padding:8px 0 25px 0;
    display: flex;
}
.footer-bottom-ul{
    flex-grow: 1;
}
.footer-bottom-ul ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.copy-right{
    margin-right: 30px;
}
.footer-bottom-ul ul li{
    padding-right:10px;
    margin-right: 7px;
    margin-bottom:7px;
    border-right: 1px solid rgba(55, 55, 99, 0.3);
}
.terms-conditions p,.footer-col p,.footer-col .footer-link li{
    font-size: 12px;
    color:rgba(29, 29, 31,0.8);
    margin-bottom: 9.6px;
}
.footer-link li> a{
    color:rgba(29, 29, 31,0.8);
}
.footer-link li> a:hover{
    text-decoration: underline;
}
.footer-link-intermediate{
    padding-top: 9.6px;
}
.footer-col p{
    color:rgb(29,29,31);
    font-weight: 800;  
}
.footer-nav{
    display: flex;
    flex-direction: column;
}
.footer-row{
    display: flex;
}
.footer-row:first-child{
    padding-bottom: 1.5rem;
}
.footer-col{
    width:20%;
}
.footer-col-bottom a{
    color:rgba(29, 29, 31,0.8);
}
.footer-col-bottom a:hover{
    text-decoration: underline;
}
.more-ways a:hover{
    text-decoration: underline;
}
.cta-link-white a{
    margin-left: 0px;
}

@media (max-width:1023px)
{
    body{
        font-size: 14px;
    }
    .nav-item i{
        font-size: 17px;
    }
    .nav{
        width:98%;
        margin: auto ;
    }
    .nav-logo i{
        font-size:21px;
    }
    .main h1{
        font-size: 48px;
    }
    .iphone-12{
        background-image: url('./images/heroes/iphone-12/iphone_12_updated__jepm2xpxncuy_large_2x.jpg');
        background-size: cover;
    }
    .iphone-12-pro{
        background-image: url('./images/heroes/iphone-12-pro/iphone_12_pro_us__e5oyysg4k0ya_large_2x.jpg');
        background-size: cover;
    }
    .fitness-image{
        background-image: url('./images/heroes/apple-fitness/hero__dvsxv8smkkgi_large_2x.jpg');
        background-size: cover;
    }
    .cta-link a{
        font-size: 19px;
    }
    .main h3{
        font-size:21px;
        margin-top: 5px;
        font-weight: 600;
    }
    .fitness-logo{
        background-image: url('./images/logos/apple-fitness-plus/logo_hero__trsrpeu6koqy_large_2x.png');
        background-size: contain;
        height:40px;
        margin-top:46px;
    }
    .fitness-headings{
       margin:11px 10%;
    }
    .fitness-headings >h2{
        font-size: 24px;
     } 
     .fitness-headings >h2:first-child{
        margin-bottom: 0.2rem;
    }
    .promo-card{
        height: 560px;
        background-size: cover;
        padding:0 5%;
    }
    .promo-card .title > h1{
        line-height: 20px;
    }
    .promo-logo{
        background-size: 35%;
   }
    .watch-series-promo{
        background-image: url('./images/promos/watch-series-6/promo_watch_series_6_lte__f8lrasjnry2y_medium_2x.jpg');
    }
    .ipad-pro-promo{
        background-image: url('./images/promos/ipad-pro/promo_ipad_pro_non_avail__c6f02v7gnwgi_medium_2x.jpg');
    }
    .mac-promo{
        background-image: url('./images/promos/back-to-school-2021/promo_bts__bg3cb4kaoqoi_medium_2x.jpg');
    }
    .arcade-promo
    {
        background-image: url('./images/promos/imac/promo_arcade__e7ps46tldi62_medium_2x.jpg');
    }
    .card-promo
    {
        background-image: url('./images/promos/apple-card/tile__cauwwcyyn9hy_medium_2x.jpg');
    }
    .season-promo{
        background-image: url('./images/promos/tv-plus-truth-be-told/promo_truth_be_told_s2__msmri3atvfee_medium_2x.jpg');
    }
    .watch-series-logo{
        background-image: url('./images/logos/watch-series-6/promo_logo_watch_series_6_lte__el1kwqt2v52e_medium_2x.png');
    }
    .arcade-logo{
        background-image: url('./images/logos/arcade/logo__dcojfwkzna2q_medium_2x.png');
    }
    .card-logo{
        background-image: url('./images/logos/apple-card/logo__dcojfwkzna2q_medium_2x.png');
    }
    .tv-logo{
        background-image: url('./images/logos/tv-plus/logo_light__cfvl40z2nzau_medium_2x.png');
    }
    .truth-logo{
        background-image: url('./images/logos/tv-plus-truth-be-told/logo_truth_be_told_s2__cp4byr0onk2u_medium_2x.png');
    }
    .promo-logo{
        height: 60px;
    }
    .promo-card .title > h3{
        font-size: 19px;
        margin-top: 0px;
    }
    .promo-card .title > h1{
        font-size: 32px;
        line-height: 35px;
    }
    .promo-cta-link >a{
        font-size: 17px;
    }
    .promo-cta-link a >i{
        font-size: 13px;
    }
    .card-promo >.title{
        padding-right:1%;
        padding-left: 1%;
    }
    .tv-logo{
       height: 25px;
       background-size: contain;
       background-origin: content-box;
       padding-bottom: 1rem;
    }
    .truth-logo{
        height:22px;
        width:80%;
        margin: auto;
        background-size: cover;
     }
     .terms-conditions,.footer-nav,.footer-bottom{
        width: 98%;
        margin: auto;
    }
}
@media(max-width:864px){
    .footer-bottom{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-bottom-ul{
        order:1;
        width:100%;
        padding: 0.2rem 0 1rem 0;
    }
}
@media (max-width:767px)
{
    body{
        font-size: 12px;
    }
    .nav-item i{
        font-size: 16px;
    }
    .nav{
        width:98%;
        margin: auto ;
    }
    .nav-logo i{
        font-size:19px;
    }
    .main h1{
        width:98%;
        margin: auto;
        font-size: 38px;
        padding:2rem 0 0 0;
    }
    .main h2{
        width:98%;
        margin: auto;
        font-size: 20px;
        max-width: 90%;
    }
    .main p{
        width:98%;
        margin: auto;
        font-size: 16px;
        max-width: 90%;
    }
    .nav-mobile{
        display: flex;
        flex-direction: row;
        width:95%;
    }
    .nav-item i{
        color:#D6D6D6;
    }
    .line{
        position: absolute;   
        height: 1.4px;
        width: 17px;
        background-color:#D6D6D6 ;
        transition: margin-top 0.3192s cubic-bezier(0.04,0.04,0.12,0.96);
    }
    .line-top{
        margin-top: 0.25rem;
    }
    .line-bottom{
        margin-top: -0.25rem;
    }
    .hidden{
        display: none;
    }
    .nav-laptop{
        display: flex;
        flex-direction: column;
        background-color: black;
        width:100%;
        height: 100%;
    }
    .nav-laptop li{
        width:100%;
        text-align: left;
        padding:0.6rem 0;
    }
    .nav-laptop li a{
        width:100%;
        text-align: left;
        padding:0 1rem;
    }
    .iphone-12{
        background-image: url('./images/heroes/iphone-12/iphone_12_updated__jepm2xpxncuy_small_2x.jpg');
        background-size: cover;
    }
    .iphone-12-pro{
        background-image: url('./images/heroes/iphone-12-pro/iphone_12_pro_us__e5oyysg4k0ya_small_2x.jpg');
        background-size: cover;
    }
    .fitness-image{
        background-image: url('./images/heroes/apple-fitness/hero__dvsxv8smkkgi_small_2x.jpg');
        background-size: cover;
    }
    .cta-link a{
        font-size: 19px;
    }
    .main h3{
        font-size:21px;
        margin-top: 5px;
        font-weight: 600;
    }
    .fitness-logo{
        background-image: url('./images/logos/apple-fitness-plus/logo_hero__trsrpeu6koqy_small_2x.png');
        background-size: contain;
        height:40px;
        margin-top:46px;
    }
    .fitness-headings{
       margin:11px 10%;
    }
    .fitness-headings >h2{
        font-size: 24px;
     } 
     .fitness-headings >h2:first-child{
        margin-bottom: 0.2rem;
    }
    .nav-item > input{
        display: none;
    }
    .promo-card{
        height: 592px;
        background-size: cover;
        padding:0 5%;
    }
    .promo-card .title > h1{
        line-height: 20px;
    }
    .promo-logo{
        background-size: 35%;
   }
    .watch-series-promo{
        background-image: url('./images/promos/watch-series-6/promo_watch_series_6_lte__f8lrasjnry2y_small_2x.jpg');
    }
    .ipad-pro-promo{
        background-image: url('./images/promos/ipad-pro/promo_ipad_pro_non_avail__c6f02v7gnwgi_small_2x.jpg');
    }
    .mac-promo{
        background-image: url('./images/promos/back-to-school-2021/promo_bts__bg3cb4kaoqoi_medium_2x.jpg');
    }
    .arcade-promo
    {
        background-image: url('./images/promos/imac/promo_arcade__e7ps46tldi62_small_2x.jpg');
    }
    .card-promo
    {
        background-image: url('./images/promos/apple-card/tile__cauwwcyyn9hy_small_2x.jpg');
    }
    .season-promo{
        background-image: url('./images/promos/tv-plus-truth-be-told/promo_truth_be_told_s2__msmri3atvfee_small_2x.jpg');
    }
    .watch-series-logo{
        background-image: url('./images/logos/watch-series-6/promo_logo_watch_series_6_lte__el1kwqt2v52e_small_2x.png');
    }
    .arcade-logo{
        background-image: url('./images/logos/arcade/logo__dcojfwkzna2q_small_2x.png');
    }
    .card-logo{
        background-image: url('./images/logos/apple-card/logo__dcojfwkzna2q_small_2x.png');
    }
    .tv-logo{
        background-image: url('./images/logos/tv-plus/logo_light__cfvl40z2nzau_small_2x.png');
    }
    .truth-logo{
        background-image: url('./images/logos/tv-plus-truth-be-told/logo_truth_be_told_s2__cp4byr0onk2u_small_2x.png');
    }
    .promos{
        grid-template-columns: 100%;
        margin: 0rem;
        grid-row-gap:0.8rem ;
    }
    .promo-logo{
        max-height: 100px;
    }
    .promo-card .title > h3{
        font-size: 19px;
        margin-top: 0px;
    }
    .promo-card .title > h1{
        font-size: 32px;
        line-height: 35px;
    }
    .promo-cta-link >a{
        font-size: 17px;
    }
    .promo-cta-link a >i{
        font-size: 13px;
    }
    .card-promo >.title{
        padding-right:1%;
        padding-left: 1%;
    }
    .tv-logo{
       width:10%;
       background-size: contain;
       background-origin: content-box;
       padding-bottom: 1rem;
       margin: auto;
    }
    .truth-logo{
        margin: auto;
        width:50%;
        background-size: contain;
     }
     .terms-conditions,.footer-nav,.footer-bottom{
        width: 98%;
        margin: auto;
    }
    .footer-link{
        display: none;
    }
    input{
        display: none;
    }
    .footer-nav{
        display: flex;
        width: 100%;
    }
    .footer-row{
        display: block;
        width: 100%;
    }
    .footer-col{
        display: block;
        width: 100%;
    }
    .footer-nav .footer-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px rgba(29, 29, 31,0.2);
    }
    .footer-nav .footer-bar p{
        color:rgba(29, 29, 31,0.9);
        flex-grow: 1;
        padding:0.2rem;
        margin:0.5rem 0;
        font-weight: 400;
    }
    .footer-nav .footer-bar i{
        color:rgba(29, 29, 31,0.7);
        padding:0.2rem 1rem;
        font-size: 9px;
        margin:0.5rem 0;
    }
    .footer-bottom{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }
    .united-states{
        padding: 0.2rem 0 1rem 0;
        color:rgba(29, 29, 31,0.9);
        order:-2;
        width:100%;
    }
    .footer-nav{
        border: 0;
    }
    .footer-bottom-ul ul{
        margin:0.2rem 0;
    }
    .nav-laptop{
        position:absolute;
        top:44px;
        height: 400px;
        left:-100%;
        width:100%;
        z-index: 999;
        transition: all 0.5s ease-in;
    }
    .footer-col i
    {
        display: block;
    }
    #click:checked ~ .nav-laptop{
        top:44px;
        left:0%;
    }
    #click:checked ~ label i:before{
     content:"\f00d";
    }
}
@media (max-width:494px) and (min-width:280px){
    .message span{
        height:100%;
        max-width: 96%;
    } 
}